.vscode
**/.gitignore
**/community/
**/copyq/*
**/yazi/plugins
!copyq-commands.ini
!copyq.conf
com.system76.CosmicBackground
com.system76.CosmicFiles
com.system76.CosmicSettings
com.system76.CosmicSettings.Wallpaper
pinned_workspaces
sshfs.list
xkb_config
