[Desktop Entry]
Type=Application
Name=CopyQ
Exec=copyq
Icon=copyq
Terminal=false
Categories=Qt;KDE;Utility;
Comment=A cut & paste history utility
Hidden=false
StartupNotify=false
PrefersNonDefaultGPU=true

