[defaults]
callbacks_enabled = ansible.posix.timer, ansible.posix.profile_tasks
inventory = inventory.ini
roles_path = roles
strategy = serverscom.mitogen.mitogen_free

[privilege_escalation]
become_ask_pass = true

[ssh_connection]
host_key_checking = false
pipelining = true # used as a fallback
