[Desktop Entry]
Name=Workspaces
Comment=
Type=Application
Exec=cosmic-workspaces
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;ICED;
Icon=com.system76.CosmicWorkspaces
StartupNotify=true
NoDisplay=true
PrefersNonDefaultGPU=true
